<% provide(:title, 'New publication') %>
<h1>New publication</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@publication) do |f| %>
      <% @model = @publication %>
      <%= render 'shared/error_messages' %>

      <%= f.label :name %>
      <%= f.text_field :name %>

      <%= f.label :type %>
      <%= f.text_field :type %>

      <%= f.label :publication %>
      <%= f.text_field :publication %>

      <%= f.label :month %>
      <%= f.text_field :month %>

      <%= f.label "Year" %>
      <%= f.text_field :date %>

      <%= f.label :desription %>
      <%= f.text_field :description %>

      <%= f.label :notes %>
      <%= f.text_field :notes %>

<h3>Authors</h3>
<% @authors.each do |author| %>
    <div>
      <%= check_box_tag "publication[author_ids][]", author.id, @publication.authors.include?(author) %>
      <%= author.surname %>, <%= author.forename %>
    </div>
<% end %>

      <%= f.submit "Create new publication", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
