<% provide(:title, @publication.name) %>
<%= link_to "All publications", publications_path %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= render "pub_name", pub: @publication %>
      </h1>
<%= @publication.type %><br/>
<%= @publication.description %>

<h3>Notes</h3>
<%= @publication.notes %>
    </section>
  </aside>
</div>

<% if current_user != nil #TODO nur der richige%>
  <%= link_to "Edit", edit_publication_path %>
<% end %>
<h3>Authors</h3>
<ul class="authors">
  <% @publication.authors.each do |author| %>
    <li>
      <%= link_to author.surname, author %>
    </li>
  <% end %>
</ul>

