<% provide(:title, @author.surname) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @author.surname %>, <%= @author.forename %>
      </h1>
      Description: <%= @author.description %><br/>
      Labo: <%= @author.lab %><br/>
      Associated User: <%= link_to @author.user.name, @author.user %>
    </section>
  </aside>
</div>
<% if (current_user != nil && current_user.id == @author.user.id) %>
  <%= link_to "Edit", edit_author_path(@author) %><br/>
<% end %>

<% if current_user != nil && @author.user.id == current_user.id %>
  <%= link_to "Add Publication", new_publication_path %><br/>
<% end %>

<h3>Publications</h3>
<ul class="publications">
  <% @author.publications.each do |publication| %>
    <li>
      <%= link_to publication.name, publication %>
    </li>
  <% end %>
</ul>
